<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="hello.spring.mybatis.EmpMapper">
    <!-- 关联1,select抓取 -->
    <select id="findById" parameterType="int" resultMap="empMap">
        <![CDATA[select * from t_emp where id=#{id}]]>
    </select>

    <select id="selectDept" parameterType="int"  resultType="Dept">
        <![CDATA[select * from t_dept where DEPTNO=#{deptno}]]>
    </select>


    <resultMap type="Emp" id="empMap">
        <!-- 字段名属性一致可以省略,嵌套查询应用 -->
        <association property="dept" column="DEPTNO"
                     javaType="Dept" select="selectDept">
        </association>
    </resultMap>
</mapper>